{% extends "base.html" %}

{% block content %}

<section class="home">
    <div class="container">
    <div class="row">
        <!-- left column -->
        <div class="col-md">
            <img src="https://res.cloudinary.com/dgcydxlev/image/upload/v1650209937/home-page-image_gvf6v8.png" class="home-page-image" alt="Women workout">
        </div>

        <!-- right column -->
        <div class="col-md list">
        <h1 class="pb-3">The journey to a healthier you starts NOW!</h1>
        <ul>
            <li>Start planning your workout routine and put all excuses away</li>
            <li>Plan what type of training you want to do each day</li>
            <li>You can start your plan any day of the week and edit it if needed</li>
            <li>It shouldn't take you long to create it. Your time should be spent doing the work, not recording it.</li>
            <li>Make it become your weekly habit and stick to it</li>
            <li>Don't forget to have some rest days!</li>
        </ul>
        
        <a href="/planner" class="link-button mt-2">start now</a>
        </div>
    </div>
    </div>
</section>

<section class="home">
    <div class="container">
        <div class="row">
        <!-- left column -->
        <div class="col-md right-alignment pb-3">
            <h1>Get inspired!</h1>
            <p>Browse through exercises or movements that target specific areas of the body. 
                Each comes with a detailed description and photos to help ensure proper form.</p>
    
                <a href="/exercises" class="link-button mt-2">check them out</a>
        </div>
            
        <!-- right column -->
        <div class="col-md home-page-image">
            <img src="https://res.cloudinary.com/dgcydxlev/image/upload/v1650223204/home-page-image-woman-squat_mclkzo.png" class="home-page-image" alt="Women doing squat">

        </div>
        </div>
    </div>
    
</section>

{% endblock %}