{% extends 'home/base.html' %}


{% block content %}

<!-- login -->
{% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter username"/>
            
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password"/>
            
            <input type="submit" value="Login"/>

        </form>
        <p>Don't have an account? Click <a href="{% url 'register' %}">here</a> sign up.</p>
        
    </div>


{% else %}
    <!-- register -->
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            
            {{ form.as_p }}
            <input type="submit" value="Register"/>

        </form>

        <p>Already have an account?. Sign in to your account <a href="{% url 'login' %}">here</a></p>
    </div>

{% endif %}

{% endblock content %}