{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

<div class="container">
    {% if page == 'login' %}
    <h3 class="text-center">Login</h3>
    {% else %}
    <h3 class="text-center">Register</h3>
    {% endif %}
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-12">
                        <div class="card-body p-md-4 mx-md-4">

                            <!-- Login form -->
                            {% if page == 'login' %}
                            <p class="card-title text-center mb-4">Login to your account</p>

                            <form method="POST" action="">
                                {% csrf_token %}

                                <div class="form-outline mb-4">
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>

                                <div class="form-outline mb-4">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="password" class="form-control"/>
                                </div>

                                <div class="text-center">
                                <button type="submit" class="button">Login  <i class="fa-solid fa-right-to-bracket"></i></button>
                                </div>
                            </form>

                            <div class="d-flex align-items-center justify-content-center pb-3">
                                <p class="mb-0 mt-3">Don't have an account? Click <a href="{% url 'register' %}">here</a> to sign up.</p>
                            </div>

                        {% else %}
                        <!-- Signup form -->
                            <p class="card-title text-center mb-4">Enter your account information</p>

                            <form method="POST" action="">
                                {% csrf_token %}
                                
                                {% for message in error_messages %}  
                                <ul>   
                                    {{ message }} 
                                </ul>   
                                {% endfor %}


                                    {{ form|as_bootstrap }}



                                {% comment %} <div class="form-outline mb-4">
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>

                                <div class="form-outline mb-4">
                                    <label for="password1">Password:</label>
                                    <input type="password" name="password1" id="password1" class="form-control"/>
                                </div>

                                <div class="form-outline mb-4">
                                    <label for="password2">Confirm password:</label>
                                    <input type="password" name="password2" id="password2" class="form-control"/>
                                </div> {% endcomment %}
                                
                                <div class="form-outline my-4">
                                    <label>Password criteria:</label>
                                    <div class="bg-light p-3 criteria-font-size">
                                        <i class="fa-solid fa-check"></i> At least 8 characters<br>
                                        <i class="fa-solid fa-check"></i> Can’t be entirely numeric<br>
                                        <i class="fa-solid fa-check"></i> Can’t be a commonly used password<br>
                                        <i class="fa-solid fa-check"></i> Can’t be too similar to your other personal information.<br>
                                        <i class="fa-solid fa-check"></i> Passwords must match
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="button">Register  <i class="fa-solid fa-user-plus"></i></button>
                                </div>
                            </form>

                            <div class="d-flex align-items-center justify-content-center pb-3">
                                <p class="mb-0 mt-3">Already have an account? Log in to your account <a href="{% url 'login' %}">here</a></p>
                            </div>
                        </div>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


                            