{% extends 'home/base.html' %}

{% block content %}
    <div class="py-3 container">  
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-12 col-md-8 col-lg-6 border py-3">
                <h3 class="pb-4">You profile details:</h3>
                <p>Username: {{ user.username }}</p>
                <p>You currently have {{ plans_number }} wourkout plans created</p>
                <p>Your first workout is planned for: {{ first_plan }}</p>
                <p>Your last workout is planned for: {{ last_plan }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
