{% extends 'home/base.html' %}

{% block content %}

<form method="POST" action="">
  {% csrf_token %}
  {{ formset.management_form}}

  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
          <tr>
              <td></td>
              <th>{{ day1 | date:"l" }}</th>
              <th>{{ day2 | date:"l" }}</th>
              <th>{{ day3 | date:"l" }}</th>
              <th>{{ day4 | date:"l" }}</th>
              <th>{{ day5 | date:"l" }}</th>
              <th>{{ day6 | date:"l" }}</th>
              <th>{{ day7 | date:"l" }}</th>
            </tr>
          </thead>
      
          <tbody>
            {% for form in formset %}
                {% if forloop.counter == 1 %}
                    <tr>
                        <th scope="row" rowspan="2">AM</th>
                {% endif %}
                    {% if forloop.counter >= 1 and forloop.counter <= 7 %}
                        <td class="border-0">{{ form.as_p }}</td>
                    {% endif %}
                {% if forloop.counter == 8 %}
                    </tr>
                    <tr>
                {% endif %}
                    {% if forloop.counter >= 8 and forloop.counter <= 14 %}
                        <td>{{ form.as_p }}</td>
                    {% endif %}

                {% if forloop.counter == 15 %}
                    </tr>
                    <tr>
                      <th scope="row" rowspan="2">PM</th>
                {% endif %}
                    {% if forloop.counter >= 15 and forloop.counter <= 21 %}
                        <td class="border-0">{{ form.as_p }}</td>
                    {% endif %}
                {% if forloop.counter == 21 %}
                    </tr>
                    <tr>
                {% endif %}
                    {% if forloop.counter >= 21 and forloop.counter <= 27 %}
                        <td>{{ form.as_p }}</td>
                    {% endif %}

            {% endfor %}
                    </tr>   
        </tbody>  
  </table>
  </div>
  <button type="submit" class="btn btn-sm btn-outline-secondary">Add plan</button>
  
</form>

{% endblock %}
