

{% extends 'home/base.html' %}

{% block content %}

<div class="table-responsive">
  <table class="table align-middle">
    <thead>
        <tr>
            <td></td>
            <th>{{ day1 | date:"l" }}</th>
            <th>{{ day2 | date:"l" }}</th>
            <th>{{ day3 | date:"l" }}</th>
            <th>{{ day4 | date:"l" }}</th>
            <th>{{ day5 | date:"l" }}</th>
            <th>{{ day6 | date:"l" }}</th>
            <th>{{ day7 | date:"l" }}</th>
        </tr>
        </thead>
    
    <tbody>
        <tr>
            <th scope="row" rowspan="2">AM</th>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
          </tr>

          <tr>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
          </tr>

          <tr>
            <th scope="row" rowspan="2">PM</th>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
          </tr>

          <tr>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
            <td>_____</td>
          </tr>
    </tbody>
  
</table>
</div>


<form method="POST" action="">
    {% csrf_token %}
    {{ workout_form.as_table }}
    <button type="submit">Add plan</button>
</form>


{% endblock %}
