/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Roboto:wght@300;400;500;700&display=swap');

/* Colors pallet */
:root {
    --rose-gold: #ebcfcc;
    --light-gray: #e2e1e1;
    --dark-gray: #484f5c;
    --background: #949494;
    --body-color: #212529;
  }

  
/* Highlighting of text */
::selection {
    background-color: var(--rose-gold);
  }

/* Remove default values */
  * {
    margin: 0;
    padding: 0;
    border: none;
  }

  body {
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: url("/static/images/background.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

/* Navigation bar */

.nav-link, .navbar-brand {
    color: var(--dark-gray) !important;
    font-size: 110%;
    letter-spacing: 2px;
    font-weight: 700;
  }
  
.nav-link {
    margin-left: 15px;
}

.nav-link:hover, footer a:hover {
    color: var(--rose-gold) !important;
}

/* Collapsible navbar heffect */
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--dark-gray);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* Effect when hamburger icon is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 hamburger lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient( 200deg, var(--dark-gray) 0%, var(--rose-gold) 100% )
}


.dropdown-menu a:hover {
  background-color: var(--rose-gold);
}

/* Home page sections */
.home {
  padding-bottom: 60px;
  font-size: 110%;
}

.home .button {
  margin-top: 20px;
  text-transform: uppercase;
}

.right-alignment {
  text-align: right;
}

/* Adjustment of page content to place footer at the bottom */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 6rem;
}

footer {
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  color: var(--dark-gray);
  border: 1px solid var(--rose-gold);
  background: var(--rose-gold);
  padding: 5px 25px;
  font-weight: bold;
}

button:hover {
  border: 1px solid var(--rose-gold);
  background: var(--light-gray);
}

/* Icons in footer */
.btn-lg {
  font-size: 1.5rem !important;
}

/* Login / sign up form */
.form-control {
  border-color: var(--rose-gold);
}

.form-control:focus {
  box-shadow: 1px 1px 10px var(--rose-gold);
  border: 1px solid var(--rose-gold);
}

/* Style link in login/sign in form */
a {
  color: var(--dark-gray);
  font-weight: bold;
}

a:hover {
  color: var(--rose-gold)
}

/* Display password criteria in registration form */
.criteria-font-size {
  font-size: 0.85rem;
}
