{% extends "base.html" %}

{% block content %}

    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Exercises</h1>
                <p class="lead text-muted">Get inspired...</p>
                <br/>                
            </div>

            <a href="#"><div class="expand hide-div"><button class="button mb-3">Find an exercise</button></div></a>
                <div class="filter-exercises show-filters-small">
                    <form method="GET">
                            {{ filter.form }}
                        
                        <div class="group-search-buttons py-4">
                            <button type="submit" class="button">Search</button>
                            <a href="{% url 'exercises' %}"><button class="button ms-3">Clear</button></a>
                        </div>
                    </form>
                </div>
            
                <div class="filter-exercises show-filters-big">
                    <form method="GET">
                            {{ filter.form }}
                        
                        <div class="group-search-buttons py-4">
                            <button type="submit" class="button">Search</button>
                            <a href="{% url 'exercises' %}"> <button class="button ms-3">Clear</button></a>
                        </div>
                    </form>
                </div>
        </div>
    </section>

    <div class="card py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            
            <!-- Exercise entries -->
            <div class="col">
                {% for exercise in filter.qs %}    
                 
                    <div class="card mb-3 h-100">
                            <img src=" {{ exercise.image.url }} " class="card-img-top" alt="Image of {{ exercise.name }} exercise" style="max-width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">{{ exercise }}</h5>
                                <p class="card-text">Body part: {{ exercise.body_part}} <br/>
                                Level: {{ exercise.level }} <br/>
                                Type: {{ exercise.type }}
                                </p>
                            </div>
                            <div class="text-center py-2">
                                <div class="btn-group">
                                    <a href="{% url 'show_exercise' exercise.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col">

                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
